.moviesPage {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-content: flex-start;*/

    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    /*border: solid black 2px;*/
    gap: 5px;
    /*width: 15%;*/
}