.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #333;
    border-radius: 10px;

}
.Database {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}

.homeContainer {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}

.theme {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}
.homeContainer > h3 > * {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
.homeContainer > h3 > *:hover {
    color: red;
}


